/* Imports */

/* Variables */

/* Overall */

html {
  
}

body {background-color: rgba(226, 43, 137, 0.546);
  
}Color: #e8e8e8


/* Typography */ 
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {

}


#nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  

#nav li {
    display: inline-block;
font-size: 24px;
margin-right: 40px;
line-height: 60px;
}

#nav li:hover {
    color: rgba(0, 208, 255, 0.83);
    transition-duration: 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

 



  


